#chess-board {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    min-width: 500px;
    width: 50%;
    padding: 40px;
}

#chess-board .square {
    aspect-ratio: 1;
}

#chess-board .square.dark {
    background-color: var(--dark-square);
}

#chess-board .square.dark.highlight {
    background-color:var(--dark-square-highlight)
}
#chess-board .square.light {
    background-color: var(--light-square);
}

#chess-board .square.light.highlight {
    background-color:var(--light-square-highlight)
}

#chess-board .light.legal {
    background-color: var(--light-square-legal);
}

#chess-board .dark.legal {
    background-color: var(--dark-square-legal);
}